extends layout


mixin row()
  tr
    - for(var i = 0; i < 4; i++)
      +card()

mixin card()
  td
    .front
    .back.flipped

mixin 

block scripts
  // script(src='javascripts/paper-full.min.js')
  script(src='javascripts/jquery-1.11.1.min.js')
  script(src='javascripts/jsutils.js')
  script(src='javascripts/game.js')

block content
  table.game#game
    - for (var i = 0; i < 3; i++)
      +row()
  #log
    h1 Log 