$stripe-width = 2%

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

no-select()
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

no-drag()
  -webkit-user-drag: none;

body
  padding: 50px
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.oval
  background: repeating-linear-gradient(to bottom, transparent, transparent $stripe-width, #606dbc $stripe-width, #606dbc $stripe-width*2)
  border: 2px solid #606dbc
  width: 100px
  height: 250px
  border-radius(100px)
  text-align: center
  color: blue

table.game
  border-spacing: 20px
  float: left

table.game td
  width: 120px
  height: 200px
  text-align: center
  no-select()
  no-drag()
  background-repeat: no-repeat
  background-size: 120px 200px
  -webkit-transition: -webkit-transform 500ms linear;
  position: relative
  z-index: 3

.front
  border-radius(20px)
  box-shadow: 0px 0px 3px 2px black
  position: absolute
  z-index: 2
  width: 120px
  height: 200px
  backface-visibility: hidden
  background-repeat: no-repeat
  background-size: 120px 200px
  -webkit-transition: -webkit-transform 500ms linear;

.back
  //position: absolute
  z-index: 1
  width: 120px
  height: 200px
  backface-visibility: hidden
  background-image: url('images/logo.png')
  background-repeat: no-repeat
  background-size: 120px 200px
  -webkit-transition: -webkit-transform 500ms linear;

.flipped
  -webkit-transform: rotateY(180deg)

.selected
  border: none !important
  box-shadow: 0px 0px 5pt 4pt green !important

#log
  float: left
  height: 100%
  width: 50%